
#activity-data{
    display:flex;
    justify-content: space-around;
    

}

#data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:5px;
    margin-right: 5px;
}

#activity-button{
    appearance: button;
    background-color: green;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    
    margin: 30px;
}


